body {
  overflow: hidden;
  margin: 0px;
  background-color: #333333;
  user-select: none;
  -webkit-user-drag: none;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: crosshair;
}

.background-streak {
  position: absolute;
  height: 100%;
  transform: skew(calc(-14deg));
  background-color: rgb(230, 49, 40);
  z-index: -1;
  margin-top: calc(-1 * (5vw + 5vh));
}

.main-menu-title {
  width: 100%;
  margin-top: calc(5vw + 5vh);
}

p {
  color: rgb(240, 240, 240);
  font-family: "prime";
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  align-items: center;
  text-align: center;
  transform: skew(calc(-14deg));
}

button {
  display: block;
  background-color: rgb(230, 49, 40);
  width: calc(12vw + 12vh);
  height: calc(2.5vw + 2.5vh);
  margin-top: calc(2vw + 2vh);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0px;
  font-family: "prime";
  color: rgb(240, 240, 240);
  font-size: calc(1.5vw + 1.5vh);
  border: none;
  transform: skew(calc(-14deg));
  padding-top: calc(0.3vw + 0.3vh);
  cursor: pointer;
  border: 0px solid rgb(240, 240, 240);
  transition: linear 0.1s;
}

button:hover {
  width: calc(11vw + 11vh);
  height: calc(2.25vw + 2.25vh);
  font-size: calc(1.375vw + 1.375vh);
  margin-top: calc(2.125vw + 2.125vh);
  transition: linear 0.1s;
}

.gun-backing {
  position: absolute;
  bottom: calc(1vw + 1vh);
  right: calc(-3vw - 3vh);
  width: calc(10vw + 10vh);
  height: calc(3.5vw + 3.5vh);
  background-color: #498ee967;
  transform: skew(-14deg);
  z-index: 1;
  transition: linear 0.1s;
}

.ammocount-backing {
  background-color: #498ee9b6;
  position: absolute;
  width: calc(7.5vw + 7.5vh);
  height: calc(2vw + 2vh);
  right: calc(-2vw - 2vh);
  transform: skew(-14deg);
  z-index: 1;
}

.gun {
  position: absolute;
  height: calc(3.5vw + 3.5vh);
  left: calc(1vw + 1vh);
  transform: skew(14deg) scaleX(-1);
  -webkit-user-drag: none;
  filter: opacity(0.01) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333) drop-shadow(0 0 0 #333333);
  filter: none;
  transition: linear 0.1s;
}

.individual-score-container {
  position: absolute;
  top: calc(1vw + 1vh);
  width: calc(4vw + 4vh);
  height: calc(2.5vw + 2.5vh);
  transform: skew(-14deg);
  z-index: 1;
}

.select-weapon {
  position: absolute;
  background-color: #498ee9b6;
  height: 100%;
  width: 15vw;
  top: 300%;
  z-index: 1;
  transform: skew(-14deg);
  cursor: pointer;
  transition: ease-in-out 1.5s;
}

.weapon-select-gun-img {
  height: 6.5vw;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  transform: skew(14deg);
  -webkit-user-drag: none;
  display: block;
  align-items: center;
}

.weapon-select-gun-text {
  transform: skew(14deg);
  font-family: "source-sans-pro";
  color: #333333;
  font-size: 1vw;
}

smol {
  font-size: calc(0.8vw + 0.8vh);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@font-face {
  font-family: "prime";
  src: url("fonts/Prime-Regular.ttf");
}

@font-face {
  font-family: "source-sans-pro";
  src: url("fonts/SourceSansPro-Black.ttf");
}